
@{
    ViewBag.Title = "Lulus love site";
}

<h2><b>Lulu's Love Messages!!!</b></h2>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/SlideShow/balcony.jpg" alt="First slide">

        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/SlideShow/carmodel.jpg" alt="Second slide">

        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/SlideShow/dicks.jpg" alt="Third slide">

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>




<p> Click my link baby its right here ---><a href="~/Views/Lulu/sowy.html">Sowy!</a></p>
<br>
<div class="card">
    <div class="card-block">
        <h4 class="card-title">1/13/2014</h4>
        <p class="card-text">  Hi baby I love and miss you so i made you a web page :) and you still havent checked it today... txt me "Ahmad is so god damn sexy" </p>
    </div>
</div>
<br>


<div class="card">
    <div class="card-block">
        <h4 class="card-title">1/15/2014</h4>
        <p class="card-text">
            Im so tired of this dude we havent learned anything new at all yet just commnon sense stuff haha
            I guess some people just need alot of god damn repititon. I Cant wait to see you I love you always! txt me
            "Dasani water is the best!"
        </p>
    </div>
</div>
<br>

<div class="card">
    <div class="card-block">
        <h4 class="card-title">1/22/2014</h4>
        <p class="card-text">
            Hello sweet heart. I hope your nose feels better soon! I loves you and cant wait to see you,
            nothing new there tho haha. I wish this proffesor would just post the power points online and
            not require us to come in, He just keeps talking about the same thing over and over!
            txt me "I heart you!" I heart my future doctor!
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-block">
        <h4 class="card-title">1/27/2014</h4>
        <p class="card-text">
            Hello darling! I hope you have a great day today because I was mean last night and I see that now.
            I'm really sorry that I hurt your feelings what I wanted to say came out completely wrong! I wanted to say that I do
            love going to life time with you and that I always have a lot of fun when I go with you! I love playing soccer with you and rock
            climbing and just spending time with you all the time. The reason I was trying to get across was that when I'm with you I
            just try to impress you constantly. I get shy to really lift around you and I know that's my fault but I cant help it.
            I want to go with you hopefully today if your willing to forgive me habibti. You are my partner for everything and you know that
            and there's no one else id rather go through life with. The love of my life Lulu!! Text me "I forgive your dumb not knowing how to
            talk ass"
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-block">
        <h4 class="card-title">1/29/2014 1:15am</h4>
        <p class="card-text">
            Hi baby! I just wanted to say good night for real instead of that bull shit one over text. Every time we argue about
            something you just say I'm wrong because I have a bad memory and that your right because you have a good one.
            I don't like that at all I find it offensive and a bad way to try and prove your point about something. I told you on the phone
            that I don't like it but you just kept arguing back with me and saying it over and over. I was a few seconds from snapping so I made
            up some bull shit to get off the phone quickly so I don't make it bigger. Also I was just fighting with my mom on the phone before
            you called so I was already pissed off! I would appreciate it a lot if you don't keep bringing it up all the time please baby! I
            also told you the other day that it bothers me and i compared it to me making fun of someone's acne they cant help it and that
            person can joke about his own acne but when some one else does it it hurts. Sweet dreams r7oi(my soul in Arabic) I love You!
            <img src="~/Images/sleepEm.png" width="20" height="20" />
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-block">
        <h4 class="card-title"></h4>
        <p class="card-text"></p>
    </div>
</div>

<p class="post">
    Good after noon Dr.Nassar,<br>
    I would like to take this time to conragulate you for your future degree. I could honestly say that you are such an inspiration
    to me and I have never met anyone with such great dedication and mental endurance to be able to keep pushing them self to do the best
    they can do. You are truely a wonderful and special specimen of the human species! I know you can keep the tough work and whenever you need
    little push of encouragment dont be afraid to talk to me because I will always be here for you! I love you and love spendin my time with you! -Ahmad Nassar <br>
    2/3/2014 12:35 pm
</p>
<br>

<p class="post">
    What up cute thang! I hope you got to school safely! you better be driving safely Idk what i would do
    if you got hurt! I'd prolly have a panic attack roll over and die... So unless you want me dead be careful!
    Im so excited for Valintines day which is only 2 Days away!! like omg lol. You gonna love my presents habibti. Atleast i hope you do
    haha. you should One of them is pretty damn cool =]. Good luck on your tests im sure your gonna do absolutlely amazing!
    Sorry for the short message sweet heart but i have to follow along in class now! bye bye! Txt me "Sorry im a jerk and dont come down to classes
    with you!" <br>
    2/12/2014 12:43 pm
</p>
<br>

<p class="post">
    Hey! baby hope you have a fun day hatting me >.< I didnt mean to piss you off i was just busy with a friend. I didnt look at your texts and
    decide to ignore you for fun. I was just doing stuff I should of told you I was busy thats my fault. Im about to print off your thing right now for you
    so try not to hate me to much! Ill talk yo you after class and hopefully I can try to make you feel better rembember that I love you so much okay bb.
    If  you decide to not like me all day i still hope you have a good day. Bye bye. txt me "Your a Jerk off"<br>
    2/21/2014 12:32 pm
</p>
<br>

<p class="post">
    Yo what it do baby boo! are you gonna come down to main campus with me today habibti i was thinking about taking the shuttle :( lol. Even if you dont
    come i hope you have a sweet day beautiful and get alot of studying done. AND NO TALKING TO BOYS. Love you-Ahmad Nassar <br>
    02/26/2014 1:03pm
</p>
<br>

<p class="post">
    Hey my Ditzy baby, I cant wait to spend my day with you! You are looking very cute and veyy sexy today hehe Im so lucky to have
    a beautiful girl like you in my life. Fuck it your not in my life you <b>ARE </b>my life! I d wouuld have to do everything all <b>alone</b>
    im so happy a have a companion like you to do everything with. I wanted you with me so bad today at waffle house i was all<b> alone</b>. Just sitting there
    <b> ALONE!</b> Dont do that to me again please baby. I hope your cramps go away. I love you. Lets have an awsome day!<br>
    03/07/2014 12:31pm
</p>
<br>

<p class="post">
    Siiiiiiiick! My baby is sick today and left me alone to deal with other "people", I've been deserted, im lost and cold. I need to find some way to survive
    but as of now its looking grim. I walk the halls of this jungle wishing my companion was at my side. These creatures were everywhere talking, yelling, being loud.
    I could only pray for you to be with me to judge and hate these animals. Wish me luck my love, I am looking forward to being reunited with my darling. I hope you make
    a full recovery and will be back in time for the next battle tomorrow. Feel better, I love you. This "teaching" thing is going to speak now and will attack me if i dont
    hear it out -Ahmad Nassar<br>
    03/26/2014 1:22pm
</p>
<br>

<p class="post">
    Two days ago me and you took the biggest step in our relationship yet. We finally have gotten engaged! After two years together with
    my sweet heart we are officially together in front of the world. It just feels so odd that people are finally recognizing us. I cant help
    but think how stupid everyone around us must of been to not be able to see how in love we are with each other. When ever some one tells me mabrook
    all i think is your kind of late to the party I've been in love with this girl since I've met her and she has been mine ever since. We will always
    be together me and you as companions through life. "It's just you the moon and the coolest guy. Me the moon and the finest girl. Us three together
    to take on this world" (sorry I love that song ^.^) I am truly happy to be with you Alaa. I love you so much, my finace. -Ahmad Nassar<br>
    4/27/2014
</p>
<br>

<p class="post">
    Oh god. It really has been a long long time since I have posted something one here :(! 1 year and 9 months.... This is absoulutely unexceptable. From this day
    forth this site shall be maintained and updated with my current feels about the bestest most beautifil gir in the world. The one.... the only Lulu Algalayini! She
    will not be able to keep that name for long sadly. It soon shall be switching over to lulu nassar ;). Looking back on this site makes me smile so much and I can see
    now why you like it so much. Just last night I had no idea what you meant when you said "Spill your heart out to me." Looking back at this made me realize this is my
    profession! As long as its not in person hahaha. You are the best thing that has ever happened to  me, when some one asks me what do you like to do, whats your
    hobby I get kind of stumped. Is Lulu an answer LOL? Its the first thing that comes to mind each and every time. I want to spend every moment of everyday with you
    no matter what the heck were doing.I love you so much and you mean the absoulute world to me boo. We will have the life we've always dreamed of together, just Me and you,
    and luna... Ill sneaze all day every day for you boo as long as I get to see you smile! Expect future updates on my feels with you!
    Oh yea I also really dont like the ratio of apologies to random happieness on here I can fix that!
    -Ahmad Nassar<br>
    9/10/2015
</p>
<br>

<p class="post">
    Good Morning doll face! I cant wait to see you today, I should see your beautiful smile earlier than usual because I didnt got to work :D. I get
    so happy just thinking that im going to get to spend the whole day with you! I feel blessed to have you in my life, you are a beautful
    gift from god. You fit in my arms so snuggly Love it so <b>MUCH</b> Cant wait to hug you! bye! bye! -Ahmad Nassar<br>
    09/16/2015
</p>
<br>

<p class="post">
    Hey booger I just left your house lol. My family and I just visited for Eid today and I already really really miss youuuuu =( . I feel like I did not get enough of you today!
    Only got to see you for a couple of hours or so. Thats not enought to feed my addiction haha. I was thinkging about you the whole damn drive home. I just love to see you
    have that smile, its to die for! All I saw in my mind was you just smiling in that outfit you were wearing today. Those punkish red pants and that
    grayish top with the buttons on the shoulder. Wow, I think I am really obssesed with lulu in red pants! Any way I kept a song on <b>REPLAY</b> my whole drive home just thinking
    you.  -Ahmad Nassar <br>
    09/28/2015 12:51 am</br>
    <div><audio src="~/Audio/SeanKingston-Replay.mp3" controls></audio></div>
</p>
<br>

<p class="post">
    Happy sweetewst day boo! I just came back yesterday from the best road trip ever with my partner in crime haha. I had so much fun with you on the trip. I loved you and me just exploring and geting lost in the city together.
    I hope we get to do that alot in life together. Theres no one better to travel the world with than my beautiful Lulu. I hope one day my sweetest and I get to go to every place we have ever dreamed of visiting. However,
    now were back, back to cincinnati. Where real life must continue you on. AND I DONT WANT IT TO. We have to study and do home work just looking forward to our next adventure.I love you sweet heart! - Ahmad Nassar <br>
    10/17/2015
</p>
<br>

<p class="post">
    Day 3: <br>
    Dear diary, this been the longest weekend to exist. It is because the girl that makes my heart beat has gone awol(Holy shit that is a fitting definiton google it). I feel like every day that shes
    gone my heart beats a little slower, losing its rythem. The reduced blood flow lowers my senses. Colors are duller, Sounds are boring, laughter is almost nonexistant. Food is has lost flavor. Everything is going down.
    I dont know how long I have left. I fear it is short. This may be my last entry. I pray that one day she comes back to me. Back to her position at my side and mine at hers. This is all I wish for to continue this life.
    Without this condtion it is meaningless. I will keep you posted as this is the only way I may stay sane. - Ahmad Nassar <br>
    10/25/2015
</p>
<br>

<p class="post">
    Hi baby! Today is the last day for both of us of Fall semester 2015! You are currently taking your Bio-Chem exam that you have been studying for like crazy!
    Lol we snorted adderal to help us study and focus, not doing that again. Im so happy that winter break is here. We can finally relax again and just have fun being
    with each other instead of constantly studying. I cant wait to just snuggle up with my fiancee on the couch drink some hot chocholate and watch movies(ahem star wars).
    By the way will you go out with me this weekend? Id like to take you out on a date, say saturday around 7? Can't wait to here your answer! Good luck on your exam! -Ahmad nassar<br>
    12/10/2015
</p>
<br>


<p>
    Hello.... its me. I’ve been thinking about you for about an eternity. lol. It’s a New Year baby. I’m looking forward to a fresh new year with the love of my life. I can just tell that this
    Year is going to be one of the best years of my life with you. I’m just so happy with you all the time. I love being around you. I love being next to you. I love looking at the gorgeous face and beautiful smile.
    The smile that makes my world light up. The girl that gives me butterflies when she kisses me. This year is going to great. You the moon and the coolest guy. Me the moon and the fliest girl, together to take on this world!
    Cant wait to spend this year and the rest of our lives together. -Ahmad Nassar <br>
    1/1/2016
</p>
<br>

<p>
    Ello... How has your day been darling, I hope it has been swell. You woke up at the crack of dawn this morning I am most astonished and proud of thee. I also had the joy of waking up exceptionally early so I could
    get to the work place as scheduled. I know I dont say this enough but I am happy that you have rekindled your goal of medical school. I know sometimes it may seem bleek, distant, or superfluous. Just rembember I
    am by your side the whole way supporting whatever decisons you make. I will always be there to encourage you along your journey. I cant wait to spend the rest of my life with my Fiance soon to be wife. I know I always joke
    around about you being an investment and stuff but thats just to iratate you! I will be with you no matter what you decide to do in life(besides anything that involves selling your body. Including my eggs).Bye bye! -Ahmad Nassar<br>
    1/26/2016
</p>
<br>

<p>
    Good beautiful morning baby! I hope you are doing well. It’s been quite some time now since I have updated your LOVE site... I hope it did not make you to upset =(. ANYWAYS.... We just came back recently from
    Our spring break trip to Florida haha. Although that trip had its fair shares of downs it also had a bunch of ups! Like getting to sleep every night next to the prettiest girl in the whole frickin Universe!
    That trip really made me realize how much I just love being around you and spending time with YOU. I can’t wait for us to go on vacation just the two of us. We’re going to have an amazing trip. It makes me extra excited for our honeymoon!
    Now that were back in Cincinnati we are just grinding through the week waiting till we get to see each other again. I’ve been having an amazing time with you these past few weeks you’re the best and I’m really happy you choose me.
    - Sincerely Ahmad Nassar
    <br>
    3/30/2016
</p>
<br>

<p>
    Wake up sunshine! You're still asleep and ignoring me =[.
    Now for some awful poetry by yours truly...
<p>
    I wish you would  get up, smile and chase these clouds away. Your smile lights up my world even on the worst day.
    You're the best thing that's ever happened to me even if I don't show it. Which makes you think you don't know it.
    I love having you in my life to run around the world or just around the couch.
    Even when you make me say "Ouch".Sometimes we run up sometimes we run down but I always
    love you at an increasingly alarming rate. Come give me a hug...your my soul mate!
</p>
    That about the extent of my poetry skills sorry =[<br>
    5-26-2016</p>
    </p>
<br>


<p>
    Good AfterNoon Pokemon Trainer! This is your partner in crime speaking and wanting your attention. You have been having
    some bad dreams as of late, and I just want to remind you not to let those crowd your head! They are irrelevant and not real.
    I only have my baby lulu on my mind at all times. I love this Pokemon to death. She is the rarest, most beautiful, and strongest
    Pokemon in existence! I will never let her go she is the Pikachu to my ash we are inseparable. I will sacrifice my life for hers!
    stay vigilant don't Pokemon and drive I can't afford to loose you IDK what I would do. So prepare for trouble...Make it double... Because
    I fall in love with lulu all over again every day of my life! <br>
    7-12-2016
</p>
<br>


<p>
    Top of the morning to ya! Its a good morning to wake up next to my princes! You probably think I didn't think of you!
    You think I went strait to ark! Haha, think again! I'm writing this message to you first because you are the best thing
    that happens to me everyday of my life. I do have phases of obsessively playing a game but they are just phases. Don't
    ever think that you can be replaced. You have never been a phase in my life. You are my life. You are what I want.
    You are who I love with all my heart. You are the most important part of my every day! XOXOXO
    P.S can you believe this site has been here for 3 Years!<br>
    1-27/2017
</p>
<br>



<footer>
    I Love you! I love you! I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!I Love you! I love you!
    I Love you!<br>
    Author: Ahmad Nassar Who its to: Love of my life Lulu! I love this girl! I love this girl! Disclaimer:By viewing this
    Web page you are here by agreeing to that nothing in this can be used against the Author "Ahmad Nassar"
</footer>
