<!doctype html>
<html lang = "en">
<style>

</style>

<head>
<link rel="stylesheet" type="text/css" href="~/Content/sowycss.css">
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<title>Sowwy bb</title>
</head>
<body>
<h1> To my lovely upset lady, future fiancée and love of my life, Mrs.Nassar,</h1>

<p>This is for you, to hopefully put a smile on that wonderful face. I am at a loss for words for my actions this evening. What I 
did was truly and utterly unspeakable. I hope I never put you through such a scenario ever again. I completely understand your disappointment
and am actually shocked and ecstatic at how well you were able to deal with the situation. If that situation would of happened to me I could 
fathom how I would react. I could not even bear the thought of such actions, just thoughts of how you feel sends a shivers down my spine.
And the worst part has yet to come. The fact that It was me! the one who I think you call your love, doody, and ass hole(Ahem..). I hope you could 
find it somewhere deep down in your heart to forgive me. Just the slightest spot. The narrowest crevice. your left or right atrium would suffice!
as long as I could call you my baby again is all I ask for. And yet I could understand if you couldn't. I would not blame you if you wanted me to get 
injured some how to feel just the slightest pain of what you had to go through. If you wanted me to say stub my toe(god forbid) to get a paper cut
to even fall backwards in my chair I would understand. I hope to one day make you as happy as you make me. you deserver better. someone that will
always answer their phone regardless of any circumstances. If you are willing to try and give me another chance, I promise not to let you down.
All I ask for is one shot, one opportunity,one chance to capture everything I ever wanted. Which is you and your love.</p>
<div><img src="romantic.jpg"><br>
This could be us...But im a fuck up. I sincerely apologize baby.</div>
</body>
</html>